*{
    margin: 0;
    padding: 0;
}
.Main-menu {
    text-align:center;
}
.Main-menu li{
    display: inline-block;
    margin: -5px;
    
}
.Main-menu li a{
    padding:15px;
    background-color:skyblue;
    color: #000;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #fff;   
}
.Main-menu li a:hover{
    background: blue;
}